*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header_topline {
	background-color: #43484c;
	padding:15px 0;
	color:#fff;
}
.header_topline a {
	color:#fff;
}
.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration:none;
}
.top_links {
	display:block;
	vertical-align:middle;
	z-index:10;
}
.soc_buttons {
	float:right;
}
.soc_buttons a {
	font-size:20px;
	margin:7px;
}
.auht_buttons ,
.main_menu_buttons{
	border:none;
	background-color: transparent;
	size:20px;
}
.main_menu_buuttons{
	padding:0 15px 0;
	color:#fff;
}
.logo {
	display:block;
	padding:15px 0;
	color:#fff;
	font-family: "NautilusPompiliusRegular";
	text-align:center;
	font-size: 42px;
}
.top_header {
	background-color: #4aaad2;
}
.maian_mnu {
	background-color: #3797bf;
	color:#fff;
	margin-bottom:20px;
}
.maian_mnu a{
	color:#fff;
	padding:10px 10px;
	display:block;
	transition: all.25s;
}
.maian_mnu a:hover{
	background-color:#3796A5;
} 
.maian_mnu ul {
	padding:0;
	margin:0;
	list-style-type:none;
	float:left;
	position:absolute;
	width:100%;
	z-index:12;
}
.top_contacts {
	float:right;
	font-size: 17px;
	padding:10px 10px;
	background-color:#3796A5;
	line-height: 23px;
}
.maian_mnu ul li {
	display:inline-block;
	text-transform:uppercase;
}
.main_menu_buttons {
	padding:10px 10px;
}
h1 {
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-family: "RobotoCondensedLight";
}
.slider_container img{
	max-width:100%;

}
.slider_container{
	position:relative;
}
.prev_button ,.next_button {
	border:2px solid #ccc;
	font-size:27px;
	border-radius:20px;
	color:#fff;
	position:absolute;
	z-index:10;
	cursor:pointer;
	top:50%;
	padding: 0 15px;
	background-color:rgba(255,255,255,0.5);
}
.prev_button:hover ,.next_button:hover {
	background-color: rgba(255,255,255,0.1);
}
.next_button{
	right:20px;
}
.prev_button{
	left:20px;
}
section.order{
	background-color: #eee;
	padding:20px;
}
.seel_descr {
	font-size:23px;
}
.button {
	background-color: #2bc6a4;
	color:#fff;
	text-transform:uppercase;
	border:medium none;
	border-radius:5px;
	padding:10px 15px;
	text-align:center;
}
.button:hover {
	background-color: #4feac8;
}
.buttom:active {
	background-color: #14af8d;
}
.seel_right .button {
	float:right;
}
.hidden {
	display:none;
} 
.pop_form input [type=text] {
	display:block;
	width:80%;
	line-height:17px;
	margin:0 auto 17px;
	border:#999 3px solid;
}
.pop_form .buttom {
	margin:15px auto 0;
}
.pop_form h3 {
	margin:10px auto 15px;
	text-align:center;
	font-family: "RobotoCondensedBold";
	font-weight:normal;
	text-transform:uppercase;
}
.blog_item img{
	max-width:100%;
	margin:0 20px;
}
.blog_item h3 {
	font-family: "NautilusPompiliusRegular";
	text-transform:uppercase;
	margin-bottom:10px;
}
.blog_item h3 a {
	text-decoration:underline;
}
.blog_item p {
	margin-top: 0;
}
.right_aside {
	padding:15px 20px;
	background-color: #eeeeee;
	margin-top:30px;
	border-radius:5px;
}
.padding {
	padding:0 !important;
}